.button{
    margin: 20px 0 0 0;
    background-color: rgb(77, 77, 248);
    border: 2px solid rgb(27, 27, 247) ;
    color: #fff;
    height: 40px;
    width: 180px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 10px;
    transition:0.3s all;
    &:hover{
        background-color: rgb(46, 36, 189);
    }
    &_submit{
        width: 100%;
        height: 50px;
    }
    &__goods__mini{
        width: 15%;
        border-radius: 5px;
    }
    &__airport{
        width: 155px;
        line-height: 15px;
    }
    &__mini{
        width: 15%;
        border-radius: 5px;
    }
    &__micro{
        font-size: 12px;
        margin: 0;
        width: 8%;
        height: 100%;
        border-radius: 5px;
        
    }

}