.currency{
    position: absolute;
    margin-top: 10px;
    right: 10%;
    &__close{
        position: absolute;
        right: 20px;
        font-size: 13px;
        bottom:8px;
        color: blue;
        z-index: 3;
        cursor: pointer;
    }
    &_770{
        display: none;
    }
}
.gcw_info-signFPxGFM7pa, .gcw_info-bgFPxGFM7pa, .gcw_infoFPxGFM7pa{
    display: none;
}
